<h3 class="pb-3 mb-4 font-italic border-bottom">
  Latest Blog Posts
</h3>

<%= paginate @blogs %>

<%= render @blogs %>

<%= paginate @blogs %>


<br>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
